<div class="container">
    @switch (day) {
        @case (0) {
            Today is Sunday! You deserve a break
        }
        @case (1) {
            Today is Monday, Hope you have productive Week
        }
        @case (2) {
            Today is Tuesday, Smash your Goals :)
        }
        @case (3) {
            Today is Wednesday, You're already half way through
        }
        @case (4) {
            Today is Thursday, It's like Friday Lite
        }
        @case (5) {
            Today is Friday, TGIF!!!
        }@case (6)
         {
            Today is Saturday, Hurray!! :) 
        }
        @default {
            Uh oh! Somethings wrong
        }
    }
    
<!--     
    <div [ngSwitch]="day">
        <div *ngSwitchCase = 0>Today is Sunday! You deserve a break</div>
    
        <div *ngSwitchCase = '1'><h5>Today is Monday, Hope you have productive Week</h5></div>
        
        <div *ngSwitchCase = '2'><h5>Today is Tuesday, Smash your Goals :)</h5></div>
        
        <div *ngSwitchCase = '3'><h5>Today is Wednesday, You're already half way through</h5></div>
        
        <div *ngSwitchCase = '4'><h5>Today is Thursday, It's like Friday Lite</h5></div>
        
        <div *ngSwitchCase = '5'><h5>Today is Friday, TGIF!!!</h5></div>
        
        <div *ngSwitchCase = '6'><h5>Today is Saturday, Hurray!! :) </h5></div>
    
        <div *ngSwitchDefault>Uh oh! Somethings wrong</div>
    </div> -->
</div>


