<div>
  <h4 class="p-2 text-center">Example with &#64;for</h4>
  <h2 class="text-center">Customer List</h2>
  <div class="table-container">
    <table>
      <tr>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
      </tr>
      @for(customer of customers;track customer.id; let e = $even ,o = $odd ,idx = $index ){
        <tr [ngClass]="{beige: e, gray: o}">
          <td>{{customer.id + 1}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.phoneNumber}}</td>
          <td>{{customer.address}}</td>
        </tr>
      }
    </table>
  </div>
</div>




<!-- **********************************************************************Ng For************************************************************************************************ -->


<!-- <div>
  <h4 class="p-2 text-center mt-5">Example with *NgFor</h4>
  <h2 class="text-center">Customer List</h2>
  <div class="table-container">
    <table>
      <tr>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
      </tr>

        <tr *ngFor="let customer of customers; let i = index" [ngClass]="{'gray':i % 2 !== 0 , 'beige': i % 2 === 0} ">
          <td>{{customer.id + 1}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.phoneNumber}}</td>
          <td>{{customer.address}}</td>
        </tr>
    </table>
  </div>
</div> -->



