<div>
  <h4 class="p-2 text-center">Example with &#64;for</h4>
  <h2 class="text-center">Customer List</h2>

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <form class="d-flex w-100 mb-2" role="search">
        <input class="form-control me-2" type="search" placeholder="Search Customer" aria-label="Search" (input)="searchCustomer($event)">
        <button class="btn btn-outline-success" type="submit" >Search</button>
      </form>
    </div>
  </nav>

  <div class="table-container">
    <table>
      <tr>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
      </tr>
      @for(result of results;track result.id; let e = $even ,o = $odd ,idx = $index ){
        <tr [ngClass]="{beige: e, gray: o}">
          <td>{{result.id + 1}}</td>
          <td>{{result.name}}</td>
          <td>{{result.email}}</td>
          <td>{{result.phoneNumber}}</td>
          <td>{{result.address}}</td>
        </tr>
      }@empty {
          <tr> No data available</tr> 
      }
    </table>
  </div>
</div>




<!-- **********************************************************************Ng For************************************************************************************************ -->


<!-- <div>
  <h4 class="p-2 text-center mt-5">Example with *NgFor</h4>
  <h2 class="text-center">Customer List</h2>
  <div class="table-container">
    <table>
      <tr>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
      </tr>

        <tr *ngFor="let result of results; let i = index" [ngClass]="{'gray':i % 2 !== 0 , 'beige': i % 2 === 0} ">
          <td>{{result.id + 1}}</td>
          <td>{{result.name}}</td>
          <td>{{result.email}}</td>
          <td>{{result.phoneNumber}}</td>
          <td>{{result.address}}</td>
        </tr>
        <tr *ngIf="results.length === 0"> No results found</tr>
    </table>
  </div>
</div> -->



